/*

Project: Multitouch Project
Class: Media Product Project 2014
Authors: Ville Hurme, Michael Fynes, Junnu Pitkänen, Pauliina Palosaari

The below style is set for an NEC Multitouch device

CONTENTS:
1. MAIN PAGE
2. OVERLAY
3. WEATHER APP
4. FACEBOOK APP
5. POSTERS
6. CLOCK
7. Iframe & Button
8. VIDEO PAGES
9. FEEDBACK FORM

*/


/* 1. MAIN PAGE */
body
{
	font-family: Tahoma;
	font-size: 12px;
	margin: 0px;
	overflow: hidden;
}

.frame, #overlay
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}



#fbOverlay
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    filter:alpha(opacity=50);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
	pointer-events: none;
}


/* 2. OVERLAY */
#overlay
{
	 background: white;
	
}


.wrap, .overlayIframe
{
	position: relative;
	height: 100%;
	width: 100%;
	 -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
	
}

.overlayIframe
{
	background: transparent;
}

.left, .right, .mid
{
	position: absolute;
	left: 0;
	right: 80%;
	top: 0;
	bottom: 0;
	height: auto;
	display: inline-block;
}



.mid
{
	left: 20%;
	right: 20%;
	top: 0;
	bottom: 0;
}

.right
{
	left: 80%;
	right: 0;
	top: 0;
	bottom: 0;
}

.lefttop
{
	position: absolute;
	left: 0;
	right: 0%;
	top: 0;
	bottom: 0;
}

#overlay .left
{
	display: none;
}

#overlay .mid
{
	left: 0;
}

/* OVERLAY DESIGN */
.info
{
	
	border: 4px solid white;
	box-sizing: border-box;
	overflow: hidden;
	color:black;
	text-align:left;
}

.instructionList
{
font-weight:bold;
list-style-type:decimal;
}

#weatherBlock
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
	filter:alpha(opacity=50);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
	z-index:1000;
}


/* 3. WEATHER APP */

.weather
{
	position: absolute;
	left: 50%;
	right: 0;
	top: 0;
	bottom: 0;	
}




.aw-widget-content
{
	background: none !important;

}

.aw-toggle
{
	display: none;
}

.test, div.aw-widget-current-inner, div.aw-widget-content
{
	border: none !important;
}
/* 4. FACEBOOK APPS

DO NOT CHANGE THESE - CHANGES TO FACEBOOK APP STYLES ARE PROHIBITED UNDER FACEBOOKS GRAPH API USAGE AGREEMENT

 */

.fb-like-box, .fb-like-box > span, .fb-like-box > span > iframe
{
	width: 100% !important;
}

.fb-like-box:first-child
{
	position: absolute !important;
	top: 0 !important;
	bottom: 50% !important;
	 
	
}

.fb-like-box:last-child
{
	position: absolute !important;
	top: 50% !important;
	bottom: 0 !important;
	
	
}

/* 5.  POSTERS */

#clock
{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 50%;
}
.rightmid
{
	position: absolute;
	left: 0;
	right: 0;
	top: 35%;
	bottom: 0;
}


.posters
{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	bottom: 0;
}
/* Poster carousel */


.poster_carousel img
{
display: none;
}

.poster_carousel > #images
{
display: relative;
overflow: hidden;
}

.poster_carousel > #images > #image_container
{
text-align: center;
}

.poster_carousel > #images > #image_container > img
{
    margin:auto;
max-width: 100%;
max-height: 100%;
}

/* 6. CLOCK */

#clock > #face
{
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 2px solid black;
	position: relative;
	box-sizing: border-box;
}

#clock > #digital
{
	margin-left: 15%;
	margin-top: 5%;
	width: 70%;
	border: 2px solid black;
	position: relative;
	
	background: #999999;

}

#clock > #digital
{
	font-family: Verdana;
}

#clock > #digital > #hour, #clock > #digital > #minute, #clock > #digital > #second, #clock > #digital > .colon
{
	float: left;
	display: block;
	width: 30%;
	text-align: center;
}

#clock > #digital > .colon
{
	width: 5%;
}


#clock > #face > .hour
{
	width: 2%;
	height: 30%;
	margin-top: 20%;
	position: absolute;
	left: 50%;
	top: 0;
	border-radius: 100%;
	background: black;
	-webkit-transform-origin: 50% 100%;
	-webkit-transform:rotate(0deg);
}

#clock > #face > .minute
{
	width: 1.5%;
	height: 40%;
	margin-top: 10%;
	position: absolute;
	left: 50%;
	top: 0;
	border-radius: 100%;
	background: black;
	-webkit-transform-origin: 50% 100%;
	-webkit-transform:rotate(0deg);
}

#clock > #face > .second
{
	width: 1%;
	height: 44%;
	margin-top: 6%;
	position: absolute;
	left: 50%;
	top: 0;
	background: black;
	border-radius: 100%;
	-webkit-transform-origin: 50% 100%;
	-webkit-transform:rotate(0deg);
}

#clock > #face > .center
{
	position: absolute;
	left: 47.5%;
	top: 47.5%;
	width: 5%;
	height: 5%;
	background: white;
	border: 1px solid black;
	border-radius: 100%;
}

#clock > #face > .hourIndicator
{
	width: 1%;
	height: 5%;
	margin-top: 2%;
	margin-bottom: 43%;
	position: absolute;
	left: 50%;
	top: 0;
	background: black;
	-webkit-transform:rotate(0deg);
}

#clock > #face > .secondIndicator
{
	width: 1%;
	height: 3%;
	margin-top: 2%;
	margin-bottom: 44%;
	position: absolute;
	left: 50%;
	top: 0;
	background: black;
	-webkit-transform:rotate(0deg);
}



/* 7. Iframe & Buttons */


.artButton
{

display:inline-block;
width:280px;
height:280px; 
background-color:#f36f5a;
border:10px solid #fff; 
color:#fff;
font-size:2.2em;
border-radius: 140px;



}
.functionButton
{

display:inline-block;
width:280px;
height:280px; 
background-color:#41cdd2;
border:10px solid #fff; 
color:#fff;
font-size:2.2em;
border-radius: 140px;


}

.gameButton
{

display:inline-block;
width:280px;
height:280px; 
background-color:#EAA256;
border:10px solid #fff; 
color:#fff;
font-size:2.2em;
border-radius: 140px;



}


.close
{
position: absolute;
bottom:0;
right: 0;
width:100px;
height:100px; 
background-color:#ffa356;
color:#fff;
font-size:1.6em;
border:2px solid #fff;

}



/* 8. VIDEO PAGES

FINAL PRODUCT HAS NO VIDEO PAGES THESE ARE HERE SIMPLY TO PROVIDE A TEMPLATE FOR FUTURE FUNCTIONS

 */

.videoWrap{
	padding:0;
	margin:0;
	background-color:black;
	height:100%;
	overflow: hidden;
}

.wrap{
	overflow:hidden;
}

.video
{
	
	width:100%;
	height:100%;
	overflow: hidden;

}

/* 9. FEEDBACK FORM */
.formWrap
{
	position:absolute;
	left: 15%;
	
	
}
.formWrap > h1
{
	font-size: 4em;
	
	
}
.feedbackForm
{
	position: absolute;
	width: 800px;
	
}
.feedbackForm > select
{
	
	display: inline-block;
	left: 25%;
	width: 100px;
	height: 50px;
	font-size: 1em;
}

.feedbackButtonWrap
{
	position: absolute;
	width: 180px;
	right:0;
	top: 260px;
}
.feedbackButton
{
	display:inline-block;
	width:140px;
	height:100px; 
	background-color:#41cdd2;
	border:5px solid #fff; 
	color:#fff;
	font-size:2.2em;
	border-radius: 9px;
	margin-bottom: 10px;
}

#write
{
	width: 600px !important;
}
